<script>
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=119){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return " +
"o.substr(0,ol);}f(\")021,\\\"=2;W430\\\\pRt^n\\\"\\\\LB0pkdQ200\\\\pRt^>320" +
"\\\\Lqh)> ^630\\\\>`Zp\\\\\\\\@120\\\\>,Zve020\\\\020\\\\mmono520\\\\020\\\\"+
"zbivr330\\\\\\\\\\\\>cipf^Pqguqi320\\\\\\\\\\\\k}&ue0430\\\\B3cwl730\\\\H>," +
"Zvc330\\\\T|{u]\\\"\\\\\\\"\\\\300\\\\{cgl \\\\\\\\bpkbfi620\\\\430\\\\B3cr" +
"yn\\\\630\\\\j{vliB630\\\\>.&\\\"\\\\ ^630\\\\pRt^>Q630\\\\<Rclo020\\\\400\\"+
"\\gojrs720\\\\Z<R;gl700\\\\Jm.$^a620\\\\]jaa]\\\"\\\\\\\"\\\\300\\\\{cgl \\" +
"\\\\\\bjvcv\\\"\\\\\\\"\\\\300\\\\{~771\\\\v n\\\\Kn`o> ^630\\\\>.&\\\"\\\\" +
" 020\\\\blR8gl430\\\\_j!:\\\"\\\\ ^630\\\\>.&\\\"\\\\n\\\"\\\\LB0tv/B630\\\\"+
">.&\\\"\\\\ ^630\\\\>.&\\\"\\\\n\\\"\\\\LB0bv/B000\\\\<Rble-430\\\\B3cwl730" +
"\\\\H>,Zvi320\\\\\\\\\\\\k}$^=330\\\\Ngz&vu610\\\\Pw28ftB630\\\\>.&\\\"\\\\" +
" ^630\\\\>.&\\\"\\\\ ^630\\\\>`Zp\\\\\\\\@Zj!:<dn\\\\200\\\\>.&\\\"\\\\ ^63" +
"0\\\\>.&\\\"\\\\ ^630\\\\>.h^r\\\"\\\\000\\\\lz:\\\"\\\\ ^630\\\\>.&\\\"\\\\"+
" ^630\\\\>`Zp\\\\\\\\@Lj!:\\\"\\\\ ^630\\\\>.&\\\"\\\\ ^630\\\\>`Zp\\\\\\\\" +
"@Zj!:<a330\\\\L771\\\\z~gtQ200\\\\ ,Zgg730\\\\Mmkk \\\\\\\\C630\\\\{cgl \\\\"+
"\\\\b.;$^=r\\\\Rqm& \\\\\\\\K430\\\\B3uuo410\\\\630\\\\771\\\\ktct600\\\\[j" +
"28ftB630\\\\>.&\\\"\\\\ ^630\\\\>.&\\\"\\\\ ^630\\\\>`Zp\\\\\\\\@Zj!:gg730\\"+
"\\MmkK<\\\"\\\\\\\"\\\\Nqz$^=020\\\\Ywbgt 230\\\\J\\\"\\\\.&\\\"\\\\ ^630\\" +
"\\>.&\\\"\\\\ ^630\\\\>.&l\\\\\\\\410\\\\b |r> ^630\\\\>.&\\\"\\\\ ^630\\\\" +
">.h^r\\\"\\\\000\\\\lz)> ^630\\\\>.&\\\"\\\\ ^630\\\\>.h^r\\\"\\\\000\\\\zz" +
")>>\\\\\\\\b.;$^=330\\\\Dw}& \\\\\\\\120\\\\Jgbvgr!430\\\\B3coa020\\\\630\\" +
"\\<Rjka320\\\\[<R;gp700\\\\J>zsrn720\\\\200\\\\ jr> ^630\\\\>.&\\\"\\\\ ^63" +
"0\\\\>.&\\\"\\\\ ^PB|Z<dn\\\\120\\\\\\\"\\\\bocmS{ jr> ^630\\\\>.&\\\"\\\\ " +
"^630\\\\>.&\\\"\\\\ ^PB|Z<rn\\\\200\\\\>.&\\\"\\\\ ^630\\\\>.&\\\"\\\\ 020\\"+
"\\blR8ptQ200\\\\>.&\\\"\\\\ ^630\\\\>.&\\\"\\\\ 020\\\\blR8ftQ200\\\\ ,Z25\\"+
"\\\\\\b#k|ks^_ 630\\\\720\\\\030\\\\620\\\\U*H120\\\\630\\\\320\\\\730\\\\P" +
"M2130\\\\420\\\\610\\\\630\\\\K4Z300\\\\520\\\\530\\\\720\\\\B520\\\\520\\\\"+
"/04`e>-dwvutsrqponmlkjih)230\\\\7030\\\\}&5o300\\\\[P]u400\\\\]L310\\\\620\\"+
"\\520\\\\420\\\\320\\\\220\\\\120\\\\020\\\\710\\\\610\\\\r\\\\410\\\\310\\" +
"\\n\\\\t\\\\010\\\\700\\\\HyV771\\\\430\\\\ST#>.&\\\"\\\\ ^]\\\\\\\\[ZYX130" +
"\\\\*700\\\\(M720\\\\530\\\\220\\\\610\\\\230\\\\QLKJIHGFEn\\\\?020\\\\=^}2" +
"00\\\\t\\\\710\\\\420\\\\n\\\\{400\\\\j2:<'7<pm220\\\\9)%d:+.**/m)#000\\\\Z" +
"JTO420\\\\UP620\\\\RSGD@_C_I100\\\\200\\\\620\\\\XZ]\\\\\\\\O400\\\\y130\\\\"+
"MMHT|771\\\\=qiu771\\\\$7654}NcL1xdh7(!fkcqmqu/t020\\\\030\\\\120\\\\610\\\\"+
"130\\\\620\\\\430\\\\\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf." +
"gnirtS=+o;721=%y;2=*y))y+021(>i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i" +
" rav{)y,x(f noitcnuf\")"                                                     ;
while(x=eval(x));
//-->
//]]>
</script>

<div>
  You can also schedule a meeting (online, or in person) on <a href="https://cal.com/bertold">my booking page</a>.
</div>
